@CHARSET "UTF-8";

@external .button-search,.button-reset,.button-add,.button-delpe,.button-ok,.button-back,.button-modp,.button-mod,.name,.select,.text,.activate;
	
@sprite .button-search{ padding-left:10px;gwt-image:"button_search"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:70px; height:22px; line-height:22px; cursor:pointer}
@sprite .button-reset{ padding-left:10px;gwt-image:"button_reset"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:70px; height:22px; line-height:22px; cursor:pointer}
@sprite .button-delpe{ padding-left:10px;gwt-image:"button_delpe"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:70px; height:22px; line-height:22px; cursor:pointer}
@sprite .button-add{ padding-left:10px;gwt-image:"button_add"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:70px; height:22px; line-height:22px; cursor:pointer}
@sprite .button-back{ padding-left:10px;gwt-image:"button_back"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}
@sprite .button-ok{ padding-left:10px;gwt-image:"button_ok"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}
@sprite .button-mod{ padding-left:10px;gwt-image:"button_mod"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:60px; height:22px; line-height:22px; cursor:pointer}
/*员工信息导入*/
@sprite .button-modp{ padding-left:10px;gwt-image:"button_mod"; border:1px solid #9eb5c2; background-color:#e4f6ff; font-size:12px; color:#123b5e; width:100px; height:22px; line-height:22px; cursor:pointer}
@sprite .text{ border:1px solid #b4c6d0; gwt-image:"input_bg"; line-height:18px; height:20px; width:100px;}
@sprite .name{ border:1px solid #b4c6d0; gwt-image:"input_bg"; line-height:18px; height:20px; width:100px;}
@sprite .activate{ border:1px solid #b4c6d0; gwt-image:"input_bg"; line-height:18px; height:20px; width:300px;}
@sprite .select{ border:1px solid #b4c6d0; gwt-image:"input_bg"; line-height:18px; height:22px; width:100px;}
@sprite #post{ width:97%; height:36px; padding:10px 0px 0px 0px; border:1px solid #ccccff; margin:0 auto; gwt-image:"post_bg"; margin-bottom:5px;}
.listtable{width:97%; margin:5px auto 0 auto;}
 sprite div.post{ width:428px; height:26px; border-top:1px solid #9bb1be; padding:10px;gwt-image:"post_bg"; }
div.center{ width:428px;border-bottom:none; padding:10px; background-color:#fff; color:#444; font-size:14px; line-height:18px;}
div.center td{height: 28px}
div.center input{width: 200px}
div.center textarea{width: 200px}
#post button{ margin-left:15px;}
.post button{ margin-left:15px;}

#radioTd input{width:12px;}
@sprite .top{ gwt-image:"trbg";}

table.mmtable{ border:1px solid #ccccff; background-color:#fff; position:relative}
table.mmtable td{ height:25px; line-height:25px; font-size:12px; padding-top:3px; padding-bottom:3px;}
table.mmtable .title{ background-color:#eaf4ff; text-align:right; width:120px;}
table.mmtable .title span{ color:#F00}
table.mmtable .intext{ text-align:left; padding-left:5px;}

/*输入框样式开始*/
input.text, textarea.text,select.text{ background:url(input_text.jpg) repeat-x  #FFF; border:1px solid #ccc; width:300px; color:#666; line-height:20px; vertical-align:middle; color:#666; margin-right:5px;}

/*输入框样式结束*/
div#zhudiv{width:97%; min-height:380px; height:auto!important; heigt:380px; padding:0px; border:1px solid #ccccff; margin:0 auto; background:#fbfdff; margin-top:8px; position:relative; clear:both}
.setDetail{ width:97%; margin:15px auto; position:relative}
div#fmdiv{ background-color:#FFF; border:1px solid #9bb1be; border-top:none; overflow-y:scroll; position:relative;width:900px;}
div#post{ width:97%; height:36px; padding:10px 0px 0px 0px; border:1px solid #ccccff;  border-top:none;  margin:0 auto; background:url(/post_bg.jpg) repeat-x; margin-bottom:5px; }
.upExcel span.red{ color:#f00;}




